﻿<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Test Task</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <!-- Place favicon.ico in the root directory -->

@*    <link rel="stylesheet" href="css/normalize.css">*@
    <link rel="stylesheet" href="Scripts/extjs/resources/css/ext-all.css">
@*    <link rel="stylesheet" href="css/main.css">*@
</head>
<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->
@*<script src="js/vendor/modernizr-3.5.0.min.js"></script>                *@
<script src="Scripts/plugins.js"></script>        
<script src="Scripts/extjs/ext-all-debug-w-comments.js"></script>    
<script src="Scripts/App/app.js"></script>
          
@*<div id="grid-example"></div>*@
</body>
</html>
